@font-face {
  font-family: "Anterobot";
  src: local("Anterobot"),
    url(./assets/fonts/Anterobot-Rp0E3.ttf) format("opentype");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Anterobot", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: black;
  box-sizing: border-box;
}
